<html>
  <head>
    <title>Quiniela-o-matic</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <script src = "js/app.js"></script>
    <script src = "js/main.js"></script>

    </script>

    </script>
  </head>
  <body ng-app="quinielaApp">

    <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Quiniela-o-matic</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Begin page content -->
        <div class="container-fluid" ng-controller="MatchesController">
          <div class="row">
            <div class="col-md-3 sidebar">
              <div style="padding-top: 60px">
                <div class="row text-center">
                  <h4>
                    Matches
                    <button class="btn btn-small btn-default"
                    type="submit" data-toggle="modal" data-target="#addMatchModal" >
                    Add</button>
                  </h4>
                </div>
                <ul class="nav nav-sidebar" id="matchlist">
                </ul>

              </div>
            </div>
            <div class="col-md-9">
              <div class="row" style="padding-top: 60px">
                <div class="text-center">
                  <div class="col-md-6" id="home">
                    <h4>Team A</h4>
                  </div>
                  <div class="col-md-6" id="away">
                    <h4>Team B</h4>
                  </div>
                   vs
                </div>
              </div>

		<input type="text" ng-model="yourName" placeholder="Enter a name here">
      		<h1>Hello, {{ yourName }}!</h1>

              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addMatchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="MatchesController">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Match</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="home_team">Home Team</label>
                    <input type="text" class="form-control" ng-model="home_team" placeholder="Red Team">
                  </div>
                  <div class="form-group">
                    <label for="away_team">Away Team</label>
                    <input type="text" class="form-control" ng-model="away_team" placeholder="Blu Team">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" id="add_match_button"class="btn btn-primary" ng-click="saveMatch()">Add Match</button>
                </div>
              </div>
            </div>
          </div>

        <footer class="footer">
          <div class="container">
            <p class="text-muted text-right" style="color:lightgrey; padding-top: 2%">
              <a href="https://github.com/jeop10/Quiniela-o-matic"><i class="fa fa-lg fa-github"></i> Github Repo</a>
            </p>
          </div>
        </footer>
  </body>
</html>
